/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history

/spec/examples.txt

.overcommit.yml

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

.vscode

venv

/.env*
/docker-compose.*.yml
