.content.page-content
  .container-fluid
    .row
      .col-lg-8
        .page-header
          %h1
            Data Sources
        .page-text
          - @data_sources.each do |data_source|
            %h2= data_source.name
            = sanitize data_source.short_overview
            = link_to "Read more", data_source, class: 'btn btn-primary'
          %h2 EITI Pilots
          %p
            Between 2013-15, EITI conducted a pilot of collecting beneficial
            ownership data in the extractives sector of various countries.
          %h2 Submissions to the OpenOwnership Register
          %p
            Since 2018, companies and individuals have been able to
            self-declare beneficial ownership using our submissions feature.
