.content.page-content
  .container-fluid
    .row
      .col-lg-8
        .page-header
          %h1
            Data Sources
        .page-text
          - @data_sources.each do |data_source|
            %h2= data_source.name
            = sanitize data_source.short_overview
            = link_to "Read more", data_source, class: 'btn btn-primary'
