- if node.nodes.any?
  .tree-group
    - node.nodes.each do |child_node|
      .tree-link
        = render 'tree_node', node: child_node

.tree-node{ class: tree_node_classes(node), "data-node": node.entity.is_a?(UnknownPersonsEntity) ? rand : node.entity.name }
  .tree-node__content
    .tree-node__entity{ class: ('ended' if node.relationship.present? && node.relationship.ended_date.present?) }
      = entity_link(node.entity) do
        = render partial: "shared/tree_entity", locals: { entity: node.entity }
    - if node.relationship.present? && !node.entity.id.to_s.include?('statement')
      .tree-node__relationship
        = render partial: "shared/relationship_interests", locals: { relationship: node.relationship }
