- content_for(:title, @entity.name)

.graph-controls
  .graph-help
    = t('entity_graph.help')
  .options
    .option-transliterate
      = transliteration_action(@should_transliterate)
  .graph-zoom-control
    %span.fa.fa-search-minus
    %input.graph-zoom{ type: "range", 'data-tippy-content' => t('entity_graph.zoom') }
    %span.fa.fa-search-plus
.cytoscape-container{ data: @graph.cytoscape_data }
