- content_for(:title, @sentity.name)

.graph-controls
  .graph-help
    = t('entity_graph.help')
  .options
  .graph-zoom-control
    %span.fa.fa-search-minus
    %input.graph-zoom{ type: 'range', 'data-tippy-content' => t('entity_graph.zoom') }
    %span.fa.fa-search-plus
.cytoscape-container{ data: @graph.cytoscape_data }
