.tree-wrapper
  .tree-window{ "data-tree": @entity.id }
    .tree-canvas
      .tree-group
        = render 'tree_node', node: @node

  .tree-controls
    %span.fa.fa-search-minus
    %input.tree-zoom{ type: "range", data: { toggle: 'tooltip', title: t('tree.zoom'), placement: 'bottom' } }
    %span.fa.fa-search-plus
    .options
      .option-transliterate
        %a{ :href => "#" }
          Transliterate this page

  .tree-help
    .fa.fa-info-circle
    %small= t('tree.help')

:javascript
  var GROUPED_NODES_TOOLTIP_TITLE = "#{j t("entities.show.note")}";
