version: 2
jobs:
  build:
    parallelism: 1
    working_directory: ~/openownership/register

    docker:

      - image: circleci/ruby:2.6.5-node-browsers
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test

      - image: mongo:3.6.12

      - image: elasticsearch:6.6.0

      - image: circleci/redis:4.0.9-alpine

    steps:

      - checkout

      # Which version of bundler?
      - run:
          name: Which bundler?
          command: bundle -v

      # Restore bundle cache
      - restore_cache:
          keys:
            - app-bundle-v2-{{ checksum "Gemfile.lock" }}
            - app-bundle-v2-

      - run:
          name: Bundle install
          command: bundle check || bundle install

      # Store bundle cache
      - save_cache:
          key: app-bundle-v2-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      # Restore yarn cache
      - restore_cache:
          keys:
            - app-yarn-v1-{{ checksum "yarn.lock" }}
            - app-yarn-v1-

      - run:
          name: Yarn Install
          command: yarn install --cache-folder ~/.cache/yarn

      # Store yarn / webpacker cache
      - save_cache:
          key: app-yarn-v1-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Install python
          command: |
              sudo apt update
              sudo apt-get install python3-pip python3-venv

      # Restore pip cache
      - restore_cache:
          keys:
            - app-pip-v3-{{ checksum "requirements.txt" }}
            - app-pip-v3-

      - run:
          name: 'Pip Install'
          command: |
              python3 -m venv venv
              source ./venv/bin/activate
              pip3 install -r requirements.txt
              deactivate

      # Store pip cache
      - save_cache:
          key: app-pip-v3-{{ checksum "requirements.txt" }}
          paths:
            - ./venv

      # Restore NER models cache
      - restore_cache:
          keys:
            - ua-edr-extractor-v1-{{ checksum "config/ua-edr-extractor.yml.erb" }}
            - ua-edr-extractor-v1

      - run:
          name: Download NER models
          command: '[[ -f /home/circleci/openownership/test-models.tar.gz ]] || wget --output-document=/home/circleci/openownership/test-models.tar.gz --quiet https://oo-register-production.s3-eu-west-1.amazonaws.com/ner-models/test-models.tar.gz'


      # Store NER models cache
      - save_cache:
          key: ua-edr-extractor-v1-{{ checksum "config/ua-edr-extractor.yml.erb" }}
          paths:
            - /home/circleci/openownership/test-models.tar.gz

      - run:
          name: Wait for MongoDB
          command: dockerize -wait tcp://localhost:27017 -timeout 1m

      - run:
          name: Wait for ElasticSearch
          command: dockerize -wait tcp://localhost:9200 -timeout 1m

      - run:
          name: Wait for Redis
          command: dockerize -wait tcp://localhost:6379 -timeout 1m

      - run:
          command: bin/test
          environment:
            RAILS_ENV: test
            RACK_ENV: test
            UA_NER_MODELS: /home/circleci/openownership/test-models.tar.gz
