.content.submission-content
  .container-fluid
    .row
      .col-lg-6
        .submission-instructions
          = render 'submissions/submissions/instructions_header'
          %h3= t('.choose_interests')
          %p= t('.interests_hint')
      .col-lg-6
        .submission-frame
          = render 'form', relationship: @relationship
