.row.raw_data_record{ id: "raw_data_record_#{raw_record.etag}" }
  .col-lg-8
    .raw-data-records
      %pre.pre-scrollable= JSON.pretty_generate(raw_record.to_h)
  .col-lg-4
    .frame-light.meta
      .frame-wrap
        %h6= t("raw_data_records.show.fields.etag")
        %p
          %code= raw_record.etag
