.modal.fade#referral-message
  .modal-dialog
    .modal-content
      .modal-body
        %p= t('.about.text_html', whocontrolsit: content_tag(:strong, t('.about.whocontrolsit')), opencorporates: link_to(t('.about.opencorporates'), 'https://opencorporates.com'), openownership_register: link_to(t('.about.openownership_register'), 'https://register.openownership.org'))
        %p= t('.see_the_code.text_html', see_here: link_to(t('.see_the_code.see_here'), 'https://github.com/openc/WhoControlsIt'), whocontrolsit: content_tag(:strong, t('.see_the_code.whocontrolsit')))
      .modal-footer
        %button.btn.btn-primary#dismiss-referral-message{ 'data-dismiss': 'modal' }= t('.continue')

:javascript
  if (history.replaceState) {
    history.replaceState(null, null, location.pathname);
  }
  $('#referral-message').modal('show')
