.secondary-search
  .form-group
    = form_with url: search_path, method: 'get', class: 'search-form', local: true do |f|
      = f.text_field :q, value: params[:q], class: 'form-control form-control-lg search-field', placeholder: t('.new_search')
