- content_for(:title, t(".title"))

.content.page-content
  .container-fluid
    .row
      .col-lg-8
        .page-header
          %h1= t(".title")

    .row
      .col-lg-8
        .page-text
          %h2 About this page
          %p
            This page is a catalogue of the major changes we have made to the
            data in this Register, in particular to the data available for bulk
            download in <a href="https://standard.openownership.org/">BODS format</a>.
          %p
            Each entry is a dated set of changes, with an explanation of the
            changes that were made and any implications they may have for you
            as a user of our data. Where possible, we'll identify directly
            which releases of bulk data you'll see these changes in.

          %h2 July 2023
          %p
            <strong>First affected bulk download:</strong> July 2023

          %ul
            %li
              %p
                The monthly download of Register data is now formatted in line with
                <a href="https://standard.openownership.org/en/0.2.0/">version 0.2 
                of Open Ownership's Beneficial Ownership Data Standard</a>.
              %p
                Up-to-date data mapped from national beneficial ownership registers
                and other sources is now available per source to download in a variety
                of formats via our <a href="https://bods-data.openownership.org/">BODS 
                data analysis tools website</a>.
              %p
                Historical data from the Ukraine Consolidated State Registry, EITI 
                pilot data and user submitted information has been removed from the
                Register datasets in order to focus on up-to-date data sources. 
                Functionality for users to submit their own data has been removed.


          %h2 06 October 2020
          %p
            <strong>First affected bulk download:</strong> September 2020

          %ul
            %li
              %p
                The Ukrainian Consolidated State Register has recently launched
                new register software which aims to capture better structured
                data about beneficial owners of companies. Unfortunately, this
                comes with a change to the format of their open data which means
                we cannot currently process it.
              %p
                From this update onwards, the Ukrainian data in our register is
                likely to fall out of date as we do not currently have the
                resources to investigate the new data, ensure continuity or
                update our import processes to adapt to the new format. We will
                keep the existing data in place indefinitely whilst we explore
                our options.

          %h2 08 July 2020
          %p
            <strong>First affected bulk download:</strong> August 2020

          %ul
            %li
              %p
                After a report of duplicate identifiers for UK companies in our
                output we investigated and realised that we were assigning some
                company numbers under the wrong identifier scheme. We were also
                missing an opportunity to output the internal "self link"
                identifier that Companies House give to Relevant Legal Entities
                (i.e. intermediate or ultimate corporate owners).
              %p
                This affects approximately 28,000 companies from the UK PSC data
                that were reported as owners of another company and where the
                disclosure included a 'registration number'. Before, we would
                output that registration number as a company number under the
                'GB-COH' scheme (when the company was declared as being in the
                UK jurisdiction). Now, we output it under a new named scheme
                "GB Persons Of Significant Control Register - Registration
                numbers" - to make it clear that the data is not verified and
                therefore not directly comparable to the GB-COH identifiers we
                output from the company numbers identifiying companies' own
                disclosures.
              %p
                In most cases, this simply means that we now output
                additional identifiers, because we'll also give one under the
                GB-COH scheme. For total accuracy, you should compare entities
                via the OpenOwnership register identifiers and remove GB-COH
                identifiers where they no longer appear in our data.
              %p
                In addition, we now output Companies House's internal
                'self link' identifiers for all owners, whether legal entity or
                natural person. We previously did this for all people, and legal
                entities that had no registration number or were not UK
                companies. You should simply see more identifiers for some UK
                companies.
          %h2 09 December 2019
          %p
            <strong>First affected bulk download:</strong> 10th December 2019
          %ul
            %li
              We now include a lot more identifiers in our bulk data output. As
              well as the existing identifiers for official registers, these
              should allow users to link entities to source data, OpenCorporates
              and back to the Register itself. See
              <a href="/download#identifiers">our documentation</a> for more
              information.
            %li
              We now correctly set <code>minimum</code> and <code>maximum</code>
              values in <code>interests</code> when we have an
              <code>exact</code> value. A small change but one that makes us
              more compliant with BODS.

          %h2 26th November 2019
          %p
            <strong>First affected bulk download:</strong> 28th November 2019
          %ul
            %li
              We now include foreign companies from the Slovakian Public Sector
              Partners Register (Register partnerov verejného sektora) where
              previously we skipped them. This means we have around 1,000 new
              companies and their owners, and in a few hundred cases, these are
              also linked to entries in other registers.
            %li
              We've improved how we identify foreign companies in Slovakian
              data. This means that some SK companies have changed jurisdiction
              to other countries, and often we can now match those companies to
              OpenCorporates where we couldn't before.

          %h2 5th November 2019
          %p
            <strong>First affected bulk download:</strong> 7th November 2019
          %ul
            %li
              We're now regularly importing data from the Ukrainian United State
              Register of Legal Entities, meaning Ukrainian data is up to date,
              not just a one-off import from 2018.
            %li
              Our data is now openly-licensed as ODC-BY, requiring only
              attribution, rather than ODBL which imposed a 'share-alike'
              condition.
      - unless @exports.empty?
        .col-lg-4
          .card
            .card-block
              %h5.card-title Latest data
              %ul
              - @exports.each do |export|
                %li= link_to export.created_at.to_date, "https://oo-register-production.s3-eu-west-1.amazonaws.com/public/exports/statements.#{export.created_at.iso8601}.jsonl.gz", rel: 'nofollow'
