- content_for(:title, t(".title"))

.content.page-content
  .container-fluid

    .row
      .col-lg-8
        .page-header
          %h1 FAQ

        .page-text
          %h2 What is Open Ownership?
          %p
            Open Ownership is a not-for-profit organisation which is driving the 
            global shift towards transparency over who owns and controls corporate 
            vehicles.
          %p
            The first version of the Open Ownership Register was launched on
            April 3, 2017 -- the one year anniversary of the Panama Papers leak.
            The Register’s data is global and linked across jurisdictions,
            industries, and linkable to other datasets too.
          %p
            Alongside the register, Open Ownership has developed the Beneficial 
            Ownership Data Standard, the world's leading open standard for 
            collecting and publishing high-quality beneficial ownership data. Visit
            <a href="https://standard.openownership.org/">standard.openownership.org</a> 
            to find the latest version of the documentation and guidance for the standard.

          %h2 Who’s behind it?
          %p
            Open Ownership is driven by a steering group composed of leading
            transparency NGOs, including
            <a href="https://www.globalwitness.org/en-gb/" target="_blank">Global Witness</a>,
            <a href="http://www.open-contracting.org/" target="_blank">Open Contracting Partnership</a>,
            <a href="https://www.transparency.org/" target="_blank">Transparency International</a>,
            and <a href="http://bteam.org/" target="_blank">the B Team</a>, as
            well as <a href="https://opencorporates.com/" target="_blank">OpenCorporates</a>,
            the largest open database of companies in the world. The UK
            <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office" target="_blank">Foreign, Commonwealth and Development Office</a> provides
            support for the project.

          %h2 Where does the data on the Register come from?
          %p The data comes from a number of national beneficial ownership registers:
          %ul
            %li= link_to('The UK’s People with significant control (PSC) Register', 'https://find-and-update.company-information.service.gov.uk/', target: '_blank', rel: 'noopener')
            %li= link_to('Denmark Central Business Register (CVR)', 'https://datacvr.virk.dk/', target: '_blank', rel: 'noopener')
            %li= link_to('Slovakia Public Sector Partners Register', 'https://rpvs.gov.sk/rpvs', target: '_blank', rel: 'noopener')

          %h2 Can I download the data?
          %p
            Yes you can. The full Register data is available as a
            <a href="/download">bulk download file</a> or you can visit <a href="https://bods-data.openownership.org/">our data analysis tools</a> to 
            download and analyse the data per source. The files are snapshots
            from all the data sources the Register regularly ingests. Compared
            to data at source, the downloads benefit from the cleaning and
            formatting work the Register conducts as part of its own import
            processes, improving the data quality altogether. You can find
            <a href="/download">further detail on what that entails here</a>.

          %h2 How often is the data updated?
          %p
            You can see when an ownership record was last ingested by the Open Ownership Register by looking up the ‘Provenance’ box
            (<a href="/entities/#{ENV.fetch('EXAMPLE_ENTITY_ID', '12393130509952234896')}">an example here</a>).
          %p
            Provenance date is available on relationship, company and person
            records.
          %p
            All of our data is currently updated at least every month.

          %h2 I found an issue with the Register. How do I report it?
          %p
            Please
            <a href="https://share.hsforms.com/1it46pw4MTL2L2jaUiepirA3upv4">fill in this form</a>,
            including the url of the page where you spotted the issue:
          %ul
            %li
              If the issue is data related, please confirm what the error might
              be and on what basis you believe the data to be erroneous (for
              example, are you the data subject?)
            %li
              If the issue relates to design, responsiveness or functionality,
              please give us the details of your computer/device, operating
              system and browser version.

          %h2
            How is using the Open Ownership Register different than searching the
            UK’s People with significant control (PSC) Register?
          %p
            First, when a company declares another company as beneficial owner
            (Companies House refers to those as RLEs or ‘Relevant Legal
            Entities’), on the PSC Register you cannot find out who the ultimate
            owners are without performing a separate search on the RLE itself.
            Whereas on the Open Ownership Register, you get the full ownership
            chain straight off in a single view, from the target company,
            through the RLE, all the way to ultimate beneficial owners.
          %p
            Second, we include data from other sources, allowing us to surface
            cross-jurisdictional connections between people and companies.

          %h2 What will Open Ownership change?
          %p
            Open Ownership makes data available to people who need it,
            helping governments and civil society hold corrupt individuals
            accountable and creating a better environment for ethical business.
          %p
            The more we shine the light on jurisdictions that remain opaque,
            rather than accepting opacity as business as usual, the more we make
            it expensive and difficult for corrupt individuals to hide. That’s
            why it’s not just important where we do have data, but also where we
            don’t.
