- content_for(:title, t(".title"))

.content.page-content
  .container-fluid

    .row
      .col-lg-8
        .page-header
          %h1 FAQ

        .page-text
          %h2 What is Open Ownership?
          %p
            Open Ownership’s goal is to increase beneficial ownership
            transparency across the world by making it easier to access
            high-quality and connected data about who owns, controls and
            benefits from companies.
          %p
            The public beta of the Open Ownership Register was launched on
            April 3, 2017 -- the one year anniversary of the Panama Papers leak.
            The Register’s data is global and linked across jurisdictions,
            industries, and linkable to other datasets too.
          %p
            Alongside the register, Open Ownership is developing a universal and
            open data standard for beneficial ownership, providing a solid
            conceptual and practical foundation for collecting and publishing
            beneficial ownership data.
            <a href="https://standard.openownership.org/">The latest data
            standard version is available here</a>.

          %h2 What’s a public beta?
          %p
            Our platform is a work in progress. The Phase 1 of our project
            focused on the creation of a beta platform with enough functionality
            to be useful and to get constructive feedback from a wide variety of
            stakeholders. In Phase 2, we added new functionalities including
            <a href="https://www.openownership.org/news/what-graph-visualisation-teaches-us-about-beneficial-ownership/">visualisation</a>,
            import history and
            <a href="/download">bulk downloads</a>
            in order to support typical beneficial ownership investigative work
            and processes.
            <a href="https://share.hsforms.com/1t-W-_8y1REuXNcXWxwTiaQ3upv4">Let
            us know if you have any feedback on how the Register could be
            improved</a>!

          %h2 Who’s behind it?
          %p
            Open Ownership is driven by a steering group composed of leading
            transparency NGOs, including
            <a href="https://www.globalwitness.org/en-gb/" target="_blank">Global Witness</a>,
            <a href="http://www.open-contracting.org/" target="_blank">Open Contracting Partnership</a>,
            <a href="https://www.transparency.org/" target="_blank">Transparency International</a>,
            and <a href="http://bteam.org/" target="_blank">the B Team</a>, as
            well as <a href="https://opencorporates.com/" target="_blank">OpenCorporates</a>,
            the largest open database of companies in the world. The UK
            <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office" target="_blank">Foreign, Commonwealth and Development Office</a> is
            is supporting the project.

          %h2 Where does the data on the beta version of the Register come from?
          %p The data comes from a number of regulatory sources:
          %ul
            %li= link_to('The UK’s Persons of Significant Control (PSC) Register', 'http://download.companieshouse.gov.uk/en_pscdata.html', target: '_blank', rel: 'noopener')
            %li= link_to('Denmark Central Business Register (CVR)', 'https://cvr.dk', target: '_blank', rel: 'noopener')
            %li= link_to('Slovakia Public Sector Partners Register', 'https://rpvs.gov.sk/', target: '_blank', rel: 'noopener')

          %h2 Can I download the data?
          %p
            Yes you can. The Register’s data is available in
            <a href="/download">bulk downloads here</a>. The files are snapshots
            from all the data sources the Register regularly ingests. Compared
            to data at source, the downloads benefit from the cleaning and
            formatting work the Register conducts as part of its own import
            processes, improving the data quality altogether. You can find
            <a href="/download">further detail on what that entails here</a>.

          %h2 How often is the data updated?
          %p
            You can see when an ownership record was last ingested by the Open Ownership Register by looking up the ‘Provenance’ box
            (<a href="/entities/#{ENV.fetch('EXAMPLE_ENTITY_ID', '59b978b167e4ebf340844101')}">an example here</a>).
          %p
            Provenance date is available on relationship, company and person
            records.
          %p
            All of our data is currently updated every month.

          %h2 I found an issue with the Register. How do I report it?
          %p
            Please
            <a href="https://share.hsforms.com/1it46pw4MTL2L2jaUiepirA3upv4">fill in this form</a>,
            including the url of the page where you spotted the issue:
          %ul
            %li
              If the issue is data related, please confirm what the error might
              be and on what basis you believe the data to be erroneous (for
              example, are you the data subject?)
            %li
              If the issue relates to design, responsiveness or functionality,
              please give us the details of your computer/device, operating
              system and browser version.

          %h2
            How is using the Open Ownership Register different than searching the
            UK’s Persons of Significant Control Register?
          %p
            First, when a company declares another company as beneficial owner
            (Companies House refers to those as RLEs or ‘Relevant Legal
            Entities’), on the PSC Register you cannot find out who the ultimate
            owners are without performing a separate search on the RLE itself.
            Whereas on the Open Ownership Register, you get the full ownership
            chain straight off in a single view, from the target company,
            through the RLE, all the way to ultimate beneficial owners.
          %p
            Second, we include data from other sources, allowing us to surface
            cross-jurisdictional connections between people and companies.

          %h2 What will Open Ownership change?
          %p
            Open Ownership makes useful data available to people who need it,
            helping governments and civil society hold corrupt individuals
            accountable and creating a better environment for ethical business.
          %p
            In transparent jurisdictions, the availability of the data will act
            as a deterrent to unethical behavior (it’s no coincidence that the
            21 anonymous UK companies involved in the
            <a href="https://www.theguardian.com/world/2017/mar/20/british-banks-handled-vast-sums-of-laundered-russian-money" target="_blank">Global Laundromat scheme</a>
            dissolved just months before the UK’s beneficial ownership register
            came online).
          %p
            And the more we shine the light on jurisdictions that remain opaque,
            rather than accepting opacity as business as usual, the more we make
            it expensive and difficult for corrupt individuals to hide. That’s
            why it’s not just important where we do have data, but also where we
            don’t.
          %p
            Finally, by providing the option for companies to submit their
            beneficial ownership voluntarily, Open Ownership allows companies to
            demonstrate a commitment to transparency and play a role in
            indicating to national governments the business imperative to action
            on this important issue.
