- content_for(:title, t(".title"))

%iframe.feedback-iframe{ src: 'https://docs.google.com/forms/d/e/1FAIpQLSfDxQeoFHf9fHpQ-TQ0MCtr0jJAu65zygzKFGXbVbzxnAKyJw/viewform?embedded=true', width: '100%', height: 1050, frameborder: 0, marginheight: 0, marginwidth: 0 } Loading…
