- content_for(:title, t(".title"))

.content.page-content
  .container-fluid

    .row
      .col-lg-8
        .page-header
          %h1 Glossary

        .page-text
          %p <strong>Beneficial owner:</strong> A real, living person who ultimately controls, has influence over, or materially benefits from a company or other legal entity. The control or benefit could be either direct or indirect, e.g. via intermediate entities, nominees, or contractual agreements.
          %p <strong>Beneficial ownership chain:</strong> The entire chain of entities that are linked by their control of one company, starting at that company and stretching to the beneficial owner, including any intermediate companies.
          %p <strong>Interests:</strong> The mechanisms by which the beneficial owner controls, has influence over, or materially benefits from a company. We try to be as specific as we can about the type of interest someone has in a company based on the limitations in the underlying data sets. Therefore, if the nature of the interest is shareholding, we will try to tell you what percentage of shares someone owns. Other types of interest you might find on our Register are voting rights agreements and the right to appoint and remove directors.
          %p <strong>Legal entity:</strong> An artificial legal form that has legal personality (normally described as the ability to enter into contracts).
          %p <strong>Provenance:</strong> In the provenance section, we link you to where we got the data, tell you when it was true (according to the source), when we accessed it from the source, and when we uploaded it to the database. That way, you have plenty of information with which to determine the timeliness of a particular datum.
          %p <strong>Undefined interests:</strong> Think of this as the “other” field. Companies submitting to the UK’s Register of Persons of Significant Control, as well as to our register, have a list of types of control, influence, or benefit to choose from. Specifically, these include shareholding, voting rights, or the right to appoint or remove directors. Our register allows people submitting data to specify the nature of their control of none of these categories describe it appropriately; however, the UK’s PSC Register does not. You’ll also see “undefined interest” in other cases where we simply haven’t been provided with information about the nature of control; for instance, in some of the data from the Extractives Industries Transparency Initiative.
          %p <strong>Unknown beneficial owners:</strong> When our regulatory sources don’t have data on the beneficial owners of a company, we think it’s important to show you these gaps. In some (scant) cases, this is because the beneficial owner has successfully applied for <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/514416/Protection_regime_company_guidance.pdf">an exemption</a>, allowing their information to be removed from the UK’s PSC Register. In other cases, the beneficial owner wasn’t reported or couldn’t be found. Though our register doesn’t currently allow null submissions for the beneficial owners of companies submitting data, it will in the future.
          %p <strong>Unknown jurisdiction:</strong> We can’t tell, based on the underlying data set, where this company is domiciled or what the nationality of this beneficial owner is.
