- content_for(:title, t(".title"))

.content.page-content
  .container-fluid

    .row
      .col-lg-8
        .page-header
          %h1 Glossary

        .page-text
          %p <strong>Beneficial owner:</strong> A beneficial owner is a natural person who has the right to some share or enjoyment of a legal entity’s income or assets (ownership) or the right to direct or influence the entity’s activities (control). Ownership and control can be exerted either directly or indirectly.
          %p <strong>Beneficial ownership transparency:</strong> Beneficial ownership transparency is an area of policy reform. It refers to the disclosure of beneficial ownership information by corporate vehicles, which is collected by authorities. The key information is made available to a range of actors, who use the data to achieve various policy goals.
          %p <strong>Interests:</strong> The particular way that a legal or natural person owns or controls an entity.
          %p <strong>Provenance:</strong> Information on where data came from: who created it; when it was made; how it was produced; and original source material.
          %p <strong>Unknown jurisdiction:</strong> We can’t tell, based on the underlying data set, where this company is domiciled or what the nationality of this beneficial owner is.
          %p For definitions of more commonly used terms in beneficial ownership, visit our <a href="https://www.openownership.org/en/implementation/beneficial-ownership-glossary/">full glossary</a> 
