- content_for(:title, t(".title"))

.content.page-content
  .container-fluid

    .row
      .col-lg-8
        .page-header
          %h1 Website Privacy and Cookies Policy
          %p We take the privacy of those who visit this website seriously and we aim to be transparent about our processing of personal information. Accordingly, this page explains the kinds of information we may collect about you. By using our website, you are consenting to our doing so and allowing any of our subsidiary companies (including those located outside the European Economic Area) to do so on our behalf.

        .page-text
          %h2 General website information
          %p If you use this website, we will make a record of the information your web browser sends to us, typically identifying the type of browser you are using, and your IP address. We record this information in order to understand the ways in which people use our website; to detect bugs; and hostile access. We routinely delete our web server logs after 365 days.

          %h2 Cookies
          %p To make this website work properly, we sometimes place small data files called “cookies” on your device. Most big websites do this too.

          %h2 What are cookies?
          %p A cookie is a small text file that a website (including this website) saves on your computer or mobile device when you visit the site. It enables the website, including plugins such as YouTube, to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another. It also enables us to analyse how this website is being used.

          %h2 How do we use cookies?
          %p The following table explains the cookies we use and why we use them.

          %table.table.table-bordered
            %thead
              %tr
                %th Cookie
                %th Name
                %th Purpose
            %tbody
              %tr
                %td _openownership-register_session
                %td OpenOwnership Register Session
                %td Identifies your user account on the OpenOwnership Register (when signed in), and stores temporary data between pages.

          %h2 How to control cookies
          %p You can control and/or delete cookies as you wish – for details, see <a href="https://www.aboutcookies.org/">aboutcookies.org</a>. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.

          %h2 Emails
          %p If you sign up to be on our mailing list via this website, we will ask you for the following information:
          %ul
            %li First name
            %li Last name
            %li Email address

          %p Unless we are in direct correspondence with you – for example because you have asked us specific questions about our products or services – we will only use this information for the following purposes:
          %ul
            %li
              Promotional emails, for example:
              %ul
                %li Project updates and key milestones
                %li Our presence at events & conferences (e.g. poster presentations, talks, booths, webinars, symposia etc.)
                %li Our publications (e.g. journal papers, conference proceedings, magazine spreads etc.)
            %li News and press releases
            %li Outbound newsletters
            %li Survey invitations
          %p You may unsubscribe from our mailing lists at any time and any promotional email we send you will contain an option to enable you to unsubscribe.
          %p We will not allow any third parties to make use of your email information, but we may use third party data processors, for example to automate our handling of mailing lists. Any use we make of data processors will require them only to act only on our instructions concerning your personal data.

          %h2 Subsidiaries
          %p We carry out some of our business through a number of subsidiary companies and, as part of that business, we may share your personal information with them. For the purposes of our privacy policy, they do not count as “third parties”.
          %p Our subsidiaries will deal with your personal information strictly in accordance with this privacy policy.

          %h2 Transfer of data outside Europe
          %p We make use of Heroku in order to deliver this website. For technical reasons, some data about the operation of the website, including logs of the Heroku databases, may be stored in the United States of America. In agreeing to this privacy policy, you consent to our transferring your personal data to the United States for this purpose.
