- content_for(:title, t(".title"))

.content.page-content
  .container-fluid

    .row
      .col-lg-8
        .page-header
          %h1 Register Privacy Notice

        .page-text
          %h2{ id: 'who-we-are' } Who we are
          %p
            OpenOwnership is project of the Fund For The City Of New York Inc.,
            registered at 121 Avenue of the Americas, 6th Floor, New York, NY
            10013-1590, with operations in the UK.
          %p
            If you are a beneficial owner of a company, we may collect and use
            personal information about you. We do so in order to assist
            transparency about the ownership of companies. We believe that
            this activity falls into the broad definition of “journalistic
            purposes” under
            %a{ href: "https://gdpr-info.eu/art-85-gdpr/" }
              Chapter 9, Art. 85 General Data Protection Regulation
            (GDPR) which applies across the European Union (including in the
            United Kingdom). As a consequence we are responsible as ‘controller’
            of that personal information for the purposes of those laws, but the
            fact that we are processing your personal information for the
            purposes of journalism limits the duties we owe you considerably.

          %h2{ id: 'personal-information' }
            The personal information we collect and use as part of the Open
            Ownership dataset
          %p
            We obtain beneficial ownership information from official sources of
            corporate information.
          %p
            The information that we collect will vary from territory to
            territory depending on the information contained on the official
            public record for that territory. In addition to an individual’s
            name, it is common for the official public record to contain:
          %ul
            %li
              an official address for that individual (not least to ensure that
              legal redress can be obtained); and
            %li
              other information about that individual, including nationality,
              date of birth and occasionally occupation..
          %p
            We aim to be completely open and transparent about the source of
            information we collect and wherever possible we publish a link to
            the source of the data we have collected. For a full list of our
            sources see
            %a{ href: "/faq" }
              our FAQ.

          %h3 Reasons we can collect and use your personal information
          %p
            We collect, store, use and make
            %a{ href: "http://standard.openownership.org/en/schema-beta-2/schema/schema-browser.html#schema-browser-person" }
              personal information
            available in order to further our journalistic mission - namely,
            making information about the ownership of corporations available to
            the public. We rely on
            %a{ href: "https://gdpr-info.eu/art-85-gdpr/" }
              Article 85 of the General Data Protection Regulation
            , which covers processing for journalistic purposes and exempts us
            from finding a lawful basis for that processing.
          %p
            In the vast majority of cases, the personal information we collect
            has been made public by the data subject themselves through the
            submission of such information to a public register.

          %h3 How we use your personal information and who can access it
          %p
            We publish your information on our website under the name of the
            company or companies with which you are associated in our database.
            Anyone who has access to the web may be able to access that website
            and obtain copies of the information about you.

          %h3 How long your personal information will be kept
          %p
            The information we collect forms part of our historical beneficial
            ownership information register.
          %p
            Maintaining this on an on-going basis is fundamental to our
            information mission, and is particularly important for those using
            our services for investigative purposes. Matters requiring the
            availability of beneficial ownership data may arise for many years
            after a company has ceased to exist.
          %p
            We keep information about the beneficial owners for the lifetime of
            the company, and 20 years after its dissolution. This includes
            details of historical beneficial owners and also applies to dormant
            companies.

          %h2{ id: 'your-rights' } Your rights
          %p
            %a{ href: "https://gdpr-info.eu/art-85-gdpr/" }
              Article 85 of the General Data Protection Regulation
            related to processing for journalistic purposes provides an
            exception to most rights listed under
            %a{ href: "https://gdpr-info.eu/chapter-3/" }
              Chapter 3 (Rights of the data subject).
            For the beneficial ownership information we hold, your rights
            include:
          %ul
            %li
              The right to fair processing of your information and transparency
              over how we use your personal information; and
            %li
              The right to lodge a complaint with a supervisory authority (see
              How to complain below).
          %p
            To ensure that our collection and processing of your information is
            fair, we also give you the right to:
          %ul
            %li
              obtain any information as to the source(s) of information that we
              hold about you;
            %li access personal information that we hold about you; and
            %li
              require us to correct any mistakes in information we hold about
              you;
          %p
            Note that our journalistic mission related to beneficial ownership
            information means that we do not give individuals the right to have
            information about them erased other than as set out below (see
            Redacting information below).
          %p If you would like to exercise any of those rights, please:
          %ul
            %li
              send a request to
              %a{ href: 'mailto:support@openownership.org' }
                support@openownership.org
              with the subject line: Privacy Request
            %li
              let us have enough information to identify you; if there is any
              ambiguity about which person you are – for example where several
              people have the same name – please supply enough information for
              us to understand who you are.
            %li
              let us have proof of your identity and address (a copy of your
              driving licence or passport and a recent utility or credit card
              bill), and
            %li
              let us know the information to which your request relates (for
              example: which page on our website displays it?)

          %h2{ id: 'redaction' } Redacting information
          %p
            If we are informed that a public company register has removed (or
            limited access to) certain information about a person concerned with
            a company due to exceptional circumstances (for example, because of
            a serious risk to personal safety), we will:
          %ul
            %li update the OpenOwnership records in a timely manner; and
            %li
              institute a procedure for temporarily removing the relevant
              information from the OpenOwnership records while this is being
              carried out.
          %p
            In keeping with our public mission to support freedom of
            information, we will normally only redact information when a company
            register has redacted it due to exceptional circumstances (such as a
            serious risk to personal safety).
          %p
            You can inform us of any application made to a public company
            register to remove or limit access to your information by
            contacting us (see below, How to contact us). Your request should
            contain full details of the reasons for requesting such removal or
            limitation. Note that requests for redaction of personal information
            must be made by the individual concerned or their legal
            representatives (including in the case of minors, their parents or
            guardians) and we will require proof of ID.

          %h2{ id: 'transfer-out-of-eea' } Transfer of your information out of the EEA
          %p
            The nature of a web-based service means that information will be
            available to persons all over the world. Whilst OpenOwnership does
            not routinely transfer the information it holds outside the EEA, it
            is possible for the information contained in the OpenOwnership
            database to be accessed from anywhere in the world. Making such
            information available to all without restriction is consistent with
            our journalistic mission.

          %h2{ id: 'security' } Keeping your personal information secure
          %p
            We have appropriate security measures in place to prevent personal
            information from being accidentally lost, or used or accessed in an
            unauthorised way. We limit access to your personal information to
            those who have a genuine business need to know it. Those processing
            your information will do so only in an authorised manner and are
            subject to a duty of confidentiality.
          %p
            We also have procedures in place to deal with any suspected data
            security breach. We will notify you and any applicable regulator of
            a suspected data security breach where we are legally required to do
            so.

          %h2{ id: 'complaints' } How to complain
          %p
            We hope that <strong>we</strong> can resolve any query or concern
            you raise about our use of your information.
          %p
            The
            %a{ href: "https://gdpr-info.eu/" }
              General Data Protection Regulation
            also gives you right to lodge a complaint with a supervisory
            authority, in particular in the European Union (or European Economic
            Area) state where you work, normally live or where any alleged
            infringement of data protection laws occurred. The supervisory
            authority in the UK is the Information Commissioner who may be
            contacted at
            %a{ href: "https://ico.org.uk/concerns/" }
              https://ico.org.uk/concerns/
            or telephone
            %a{ href: "tel:+44 0303 123 1113" }
              +44 0303 123 1113.

          %h2{ id: 'changes' } Changes to this privacy notice
          %p
            This privacy notice was published on April 1, 2019 and last updated
            on April 1, 2019.
          %p
            We may change this privacy notice from time to time by posting an
            updated version of this privacy notice at this address.

          %h2{ id: 'contact' } How to contact us
          %p
            Please contact us if you have any questions about this privacy
            notice or the information we hold about you.
          %p
            If you wish to contact us. please send an email to
            %a{ href: "mailto:support@openownership.org" }
              support@openownership.org.
