- content_for(:title, t(".title"))

.content.page-content
  .container-fluid

    .row
      .col-lg-8
        .page-header
          %h1 Open Ownership Register licence terms
          %h3{ id: 'warning' } Warning – essential reading
          %p
            The information in the Register comes from many sources: national
            governments and international bodies. This means that we
            cannot guarantee the accuracy of the information in the Register,
            nor that <strong>any use or uses of the data which you may make are
            lawful</strong> under intellectual property law or otherwise.
            Therefore <strong>you use the information at your own risk and
            should conduct your own investigation</strong>.

        %ol.legal-list

          %h3{ id: 'general' } General
          %li
            This page describes the terms under which we make available the
            material found under the domain
            <a href="https://register.openownership.org">
            register.openownership.org</a> (the “Register”). This includes
            access via the world wide web, API or otherwise. These supplement
            (overriding in the rare cases of conflict) the
            <a href="https://www.openownership.org/terms/">general terms for use
            of our website</a>.
          %li
            You are not permitted to use Register if you do not obey these
            terms.

          %h3{ id: 'our-ipr' } Our intellectual property rights
          %li
            %p
              Even though we do not claim to own intellectual property rights in
              the individual entries in the Register, in jurisdictions where
              they apply, we own intellectual property rights, including a
              database right, in the Register as a whole. We make the Register
              available under the
              <a href="http://opendatacommons.org/licenses/by/1.0/index.html">
              Open Data Commons Attribution License<a/>, which imposes an attribution
              condition on you.
            %p
              Use of any data must be accompanied by a hyperlink reading "from
              Open Ownership" and linking to either the
              <a href="https://register.openownership.org">Register homepage</a>
              or the page of the specific person/company record cited. The
              attribution must be large and clear and in all cases no smaller
              than 70% of the largest font relating to the information or 7px,
              whichever is the larger. Citing us in a report or article you
              write directly supports our work and helps us make the case for
              transparency.

          %h3{ id: 'other-ipr' } Other intellectual property rights
          %li
            Where we have obtained that information from an official source,
            intellectual property in the source considered as a database, and in
            its contents, may belong to the official body from which we have
            obtained it, or to other person or persons. In many cases, it may be
            impractical or impossible for us to discover what rights might exist
            and who might own them.
          %li
            In consequence, we make no promises that any particular way in which
            you may wish to use data obtained from the Register is lawful,
            whether in our jurisdiction or yours. You should always check the
            conditions imposed by the official source from which we have obtained
            the data. We will make sure that a link to each source is provided
            so that you may do this.
          %li
            Where data has been supplied to us through our site or an API by
            someone who has signed up to our contributor terms (see under
            “Contributions”) below, we permit you to use any such data under the
            same licence as the rest of our website.

          %h3{ id: 'denmark' } Denmark
          %li
            You are forbidden from using any data obtained from the Danish
            Central Business Register for unsolicited marketing. If you permit
            others to use any such data, you must impose a similar set of
            conditions on their use of the data as we have imposed on you.
            Further detail
            <a href="https://datacvr.virk.dk/data/cvr-help/conditions-use">
            available from the Danish Central Business Register</a>.

          %h3{ id: 'contributions' } Contributions
          %li
            If you contribute information to the Register (including any
            corrections to existing information in the Register), you grant us a
            perpetual, irrevocable, worldwide and royalty-free licence, with a
            right to sublicense, over all intellectual property in anything you
            contribute.
          %li
            When you submit information to the Register, you may submit
            information:

            %ol
              %li about yourself as a beneficial owner;
              %li
                about a company of which you are a director (or equivalently
                titled officer); or
              %li
                where you have a mandate to submit it from someone who falls
                into either of the previous two categories in respect of the
                information you wish to contribute.

          %h3{ id: 'quality' } Information Quality

          %li
            As we explained at the start of this page, we make no promises that
            the information available through the Register is accurate. It may
            be misleading on inaccurate in many ways, and in particular:

            %ol
              %li
                The original source, over which we have no control, may contain
                errors.
              %li
                We may have applied data cleaning techniques to the information
                which have introduced further errors. In some situations, we may
                even be aware that such errors are a possibility, but we may not
                have found the resources to correct them.
              %li
                We may have made good faith efforts to correct what we thought
                were errors – for instance as a result of a complaint from a
                data subject or member of the public – and in so doing
                introduced further errors unintentionally.
              %li
                We may have failed properly to understand the semantics of the
                data source from which we have obtained the data (in some cases
                they can be confusing or obscure) and made an error in mapping
                that semantics to the Register.
              %li
                The official source may have been updated, which may, in turn, be
                because of an error reported to it, and the new information may
                not yet have migrated into the Register.
          %li
            You should be aware that inaccuracies are possible and before
            relying on any information contained in the Register for anything of
            importance, you should conduct your own investigation – for example
            by cross-checking the official data source if that is where the
            information comes from.
          %li
            We welcome reports of any errors in the Register, but if you make
            such a report, it will be treated as a contribution (see above under
            “contributions”) and your report should make clear the basis on
            which you are making the report.

          %h3{ id: 'misuse' } Misuse
          %li
            Although we make the Register available generally free of charge,
            we reserve the right in our absolute discretion and at any time to
            prevent access to some or all of it, or to choke access to it, to
            any person or from any IP address. We may do this because we believe
            that misuse of the Register has taken or is about to take place, but
            we may have other reasons for doing so.
          %li
            The sorts of behaviour that may encourage us to take such steps
            include imposing excessive load on our servers; breaking any of the
            conditions of any licence under which information in the Register is
            made available; or using it in ways directly contrary to our
            expressed public purpose.

          %h3{ id: 'abuse' } Reporting abuse
          %li
            If you are aware of any misuses of the Register – for example, the
            use of Danish derived data for unsolicited marketing – please report
            any such misuse to
            <a href="mailto:register@openownership.org">
            register@openownership.org</a>.
