- content_for(:title, t(".title"))

.content.page-content
  .container-fluid

    .row
      .col-lg-8
        .page-header
          %h1 Terms on which we permit you to use this website
          %p <strong>Important:</strong> we have obtained the data on this site from multiple external sources. We are not in a position to check its accuracy. For this reason <strong>we accept no liability for any inaccuracy in the information on this website</strong>. For further information on the sources of our data see our #{link_to 'FAQ', faq_path}.

        %ol.legal-list

          %h3 General
          %li These are the terms on which we permit you to use the website [openownership.org] and any associated API or data download facility (“this website”). They are not intended to form a contract between you and us. If you contribute data, you must agree to additional terms under the heading “contributing data”.
          %li
            In these terms, certain words and phrases have a particular meaning as follows:
            %ol
              %li CC-BY-SA means the Creative Commons Attribution-ShareAlike 4.0 International (CC-BY 4.0) licence (available from <a href="https://creativecommons.org/licenses/by-sa/4.0/">https://creativecommons.org/licenses/by-sa/4.0/</a>).
              %li “content” means any text, images, video, audio or other multimedia content, software, or other information or material submitted to or on the website;
              %li “contributor” means anyone who contributes data through and to the website.
              %li “intellectual property” means any rights in patents, design , copyright, databases, trade marks, domain names confidential information and all other forms of intellectual property, whether registered or unregistered, wherever in the world;
              %li “you” or “your” means the person accessing or using the website or its content; and
              %li “we”, “us” or “our” refers to, company registration number 07444723 and whose registered address is at Aston House, Cornwall Avenue, London N3 1LF.
          %li You should read these terms carefully before using this website. We do not permit you to access this website or use any content if you do not comply with these terms.

          %h3 Using the Site
          %li
            This website is intended to benefit the public by making available on corporate beneficial ownership from a number of sources. Accordingly, this website is not intended to:
            %ol
              %li make you any promises;
              %li make any contractual offer to you (unless you are a contributor);
              %li supply any services to you.
          %li In consequence we accept no liability to you for any content we have included or failed to include in this website.

          %h3 Information about you: privacy
          %li If you subscribe to emails from us using this website, you consent to us using your email address for the purposes set out in our [privacy policy], which contains more detail about what sorts of emails we may send you. You will always be able to unsubscribe from our mailing lists.
          %li We may process other information about you, such as the IP address from which you access this website. You consent to our processing information about you in accordance with our privacy policy.
          %li While we try to make sure that this website is secure, we cannot guarantee the security of any information that you supply to us and therefore we cannot guarantee that it will be kept confidential. For that reason, you should not submit any information you regard as confidential. Any confidential information you do submit, you submit at your own risk.

          %h3 Use of cookies
          %li Cookies are short text files stored in your web browser to allow us to remember you when you return to this website. When you access this website you consent to our using cookies to in accordance with our privacy policy. More information about the particular cookies we use may be found at cookie policy.

          %h3 Accuracy of information and availability of the website
          %li As explained at the head of these terms, we are not the source of any of the information displayed on the website, nor have we any means of independently verifying it. Therefore we accept no liability for any information available on the website.
          %li While we hope that this website is up-to-date and free from bugs, we cannot promise that it will be. Furthermore, we cannot promise that this website will be fit or suitable for any purpose. Any reliance that you may place on the information of this website is at your own risk.
          %li We may suspend or terminate operation of the website at any time as we see fit.
          %li Any content is provided for your general information purposes only. It does not constitute technical, financial or legal advice or any other type of advice and should not be relied upon for any purposes.

          %h3 Ownership, use and intellectual property rights
          %li The information available through the website has been obtained from a combination of official sources (“official data”) – for example state company registers – and information supplied by the companies themselves (“company supplied data”).
          %li We have no knowledge of the intellectual property rights contained in official data, accordingly we give no warranties as to the use you may make of them. It is your responsibility to check with each source of information whether you have sufficient rights to use it.
          %li All other content in this website is licensed under CC-BY.

          %h3 Changes to terms and conditions
          %li We reserve the right to vary these terms from time to time. Our new terms will be displayed on this website and by continuing to use and access this website following such changes, you agree to be bound by any variation made by us. It is your responsibility to check these terms from time to time to verify such variations.

          %h3 Hyperlinks and third party sites
          %li This website may contain hyperlinks or references to third party websites other than this website. Any hyperlinks or references are provided for your convenience only. We have no control over third party websites and accept no legal responsibility for any content, material or information contained in them. The display of any hyperlink and reference to any third party website does not mean that we endorse that third party’s website, products or services. Your use of a third party site may be governed by the terms and conditions of that third party site.

          %h3 Disputes
          %li
            Except for any legal responsibility that we cannot exclude in law (such as for death or personal injury), we are not legally responsible for any:
            %ol
              %li losses that were not foreseeable by you or us when this contract was formed;
              %li losses of an indirect or consequential nature, even if the possibility of such loss has been brought to our attention; or
              %li economic loss or other loss of turnover, profit, business or goodwill.
          %li These terms are to be interpreted in accordance with English law and the courts of England shall have jurisdiction to settle any disputes arising from them.

          %h2 Terms on which you may contribute to this website
          %li We permit you to contribute information to the website on the following contractual terms which you may accept by singing up as a contributor. They include all the terms listed under the heading “terms on which we permit you to use this website” but where there is any contradiction the terms listed below shall take precedence.

          %h3 Duration
          %li Either you or we may terminate this agreement at any time by giving written notice to the other. On termination any indemnity or intellectual property licence that you have given to us shall continue in force.

          %h3 Acceptance and processing of your information
          %li We may, in our absolute discretion, decide to accept or reject any information you contribute in whole or part. We make no promises that we will publish any information you supply or that, having published it, we will continue to do so.

          %h3 Your identity
          %li
            You may only contribute information about the beneficial ownership of a company if (and so you warrant that):
            %ol
              %li You are an officer of the company;
              %li You are a beneficial owner of the company reporting your own beneficial ownership; or
              %li You have authority to contribute information on behalf of the company or beneficial owner as the case may be.

          %h3 Your warranties
          %li
            In addition you warrant that
            %ol
              %li You believe the information you contribute is true and that you have reasonable grounds for that belief.
              %li You have the authority to enter into this agreement.
              %li You have sufficient intellectual property rights in any information you contribute in order to give the intellectual property licences that you are giving under this agreement.

          %h3 Intellectual property
          %li You irrevocably license all intellectual property rights in anything you contribute to this site under CC-BY.

          %h3 Indemnity
          %li You indemnify us against any loss, including professional legal costs and expenses, and against any claims or other legal proceedings, of whatever nature arising out of or in connection with any claim or action made against us that (i) information you have contributed is inaccurate or; (ii) our processing or publication of that information is illegal, unlawful or infringes any legal right.
