.content.submission-content
  .container-fluid
    .row
      .col-lg-6
        .submission-instructions
          = render 'submissions/submissions/instructions_header'
          %p= t('.heading_html', entity: render_haml('%strong= @entity.name'))
      .col-lg-6
        .submission-frame
          = render 'legal_entity_form', entity: @entity
