.content
  .container-fluid
    .row
      .col-lg-6
        .submission-instructions
          = render 'submissions/submissions/instructions_header'
          - if @target.present?
            %p= t('.add_controlling_company_html', target: render_haml('%strong= @target.name'))
          - else
            %p= t('.add_company')
      .col-lg-6
        .submission-frame
          = render 'legal_entity_form', entity: @entity
