.content
  .container-fluid
    .row
      .col-lg-6
        .submission-instructions
          = render 'submissions/submissions/instructions_header'
          %p= t('.add_person_html', target: render_haml('%strong= @target.name'))
      .col-lg-6
        .submission-frame
          = render 'natural_person_form', entity: @entity
