.statistic th {
  padding-left: 4rem;
}
.statistic-total {
  th {
    padding-left: 0.75rem;
  }
}
.statistic-register-total th {
  padding-left: 2rem;
}
.statistic-dissolved th {
  padding-left: 0.75rem;
}
