.content {
  flex: 1;
  background-color: #F4F6F8;
  padding: 20px 0 0;
}

.container-fluid {
  padding-left: 70px;
  padding-right: 70px;
  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.frame {
  margin-bottom: 20px;
  background: #D8DEE4;
  border-radius: 2px;
}

.frame-light {
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid lighten($darkBlue, 76%);
  border-radius: 2px;
}

.frame-wrap {
  padding: 22px 20px 20px;
}
