.site-header {
  background-color: $darkBlue;
  padding: 60px 0 56px 0;
  margin-bottom: 30px;
}

.content {
  flex: 1;
}

.site-footer {
  font-size: 14px;
}

.site-footer-container {
  padding: 15px 0;
  border-top: 1px solid lighten($darkBlue, 65%);
}

.frame {
  padding: 20px;
  margin-bottom: 20px;
  background: $lightGrey;
}
