html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $sans;
  color: $darkBlue;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

h6 {
  font-size: 0.6875rem;
  font-weight: bold;
  margin-bottom: 2px;
  color: #B3B3B3;
  text-transform: uppercase;
  letter-spacing: .035em;
  margin-top: 20px;
}

.search-content {
  background-color: $lightGrey;
  padding: 30px 0 90px 0;
  h1 {
    text-align: center;
    font-family: $sans;
    font-size: 2rem;
    margin-bottom: 22px;
    line-height: 1.3em;
    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }
}

.search-form {
  position: relative;
}

.search-field {
  transition: all .25s ease;
  &:focus {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);
  }
}

.search-button {
  position: absolute;
  right: 15px;
  top: 29%;
  height: 24px;
  width: 24px;
  background: asset-url("ic_search_black_24px.svg") no-repeat;
  background-color: transparent;
  border: none;
  text-indent: -9999px;
  opacity: .35;
  cursor: pointer;
  transition: opacity .25s ease;
  &:hover {
    opacity: 1;
  }
}

.secondary-search {
  border-bottom: 1px solid lighten( $darkBlue, 76% );
  .form-group {
    margin-bottom: 0;
  }
  .search-field {
    border: none;
    background-color: transparent;
    background: asset-url("ic_search_white_24px.svg") no-repeat 0px 13px;
    padding-left: 34px;
    font-size: 1.125rem;
    &::placeholder {
      color: lighten($darkBlue, 45%);
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.oo-intro {
  font-size: 1rem;
  text-align: center;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 26px;
  span {
    font-weight: bold;
    color: $electricBlue;
  }
}

.footer-data-info {
  text-align: center;
  font-size: 0.875rem;
  color: #808080;
  background-color: #EBEEF2;
  padding: 11px 20px 10px 20px;
}

.list-entities {
  margin-bottom: 0px;
  a {
    display: block;
    position: relative;
    padding: 20px 20px 17px;
    margin-bottom: 5px;
    background-color: $white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .05);
    border-radius: $border-radius;
    color: $darkBlue;
    font-size: 0.9375rem;
    transition: all .25s ease;
    &:after {
      content: '';
      background: asset-url("ic_chevron_right_blue_24px.svg") right top no-repeat;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 18px;
      right: 12px;
      opacity: 0;
    }
    &:hover {
      text-decoration: none;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, .25);
      &:after {
        opacity: 1;
      }
    }
  }
  li {
    &:last-child {
      a {
        margin-bottom: 0;
      }
    }
  }
  .flag {
    height: 12px;
    width: auto;
    position: relative;
    top: -2px;
    margin-left: 2px;
  }
}

.pagination {
  margin: 32px auto 4px auto;
  text-align: center;
  display: block;
  .first, .prev, .page, .next, .last {
    padding: 6px 1px 6px 4px;
    margin: 0 3px;
    text-align: center;
    transition: opacity .25 ease;
  }
  .current {
    border-bottom: 2px solid $darkBlue;
    // font-weight: bold;
  }
  .first a, .last a {
    opacity: .35;
    &:hover {
      opacity: 1;
    }
  }
  @include media-breakpoint-down(md) {
    .first, .prev, .page, .next, .last {
      line-height: 2.4;
    }
  }
}

.no-results {
  padding: 20px;
  background-color: $lightGrey;
  margin-bottom: $spacer;
  text-align: center;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}


/////////////////////////////////////////////
////////////////// ENTITIES /////////////////
/////////////////////////////////////////////


.entity-content {
  padding: 20px 0;
}

.entity-relationships {
  margin-bottom: 40px;
}

.current-entity {
  padding: 40px 40px 38px;
  border: 1px solid darken($lightGrey, 10%);
  background-color: lighten($lightGrey, 3%);
  h1 {
    padding: 20px 0;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.entity-header, .relationship-header {
  border-bottom: 1px solid lighten( $darkBlue, 76% );
  h1 {
    font-size: 1.875rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
  }
  .entity-name {
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: .035em;
  }
  .entity-name-wrap {
    padding: 20px 0;
    height: 100%;
    @include media-breakpoint-up(lg) {
      padding: 30px 0;
    }
  }
  .entity-header-meta {
    padding: 20px 0;
    @include media-breakpoint-up(lg) {
      padding: 20px 10px 18px;
    }
    @include media-breakpoint-down(md) {
      border-top: 1px solid lighten($darkBlue, 76%);
    }
  }
  .flag {
    height: 12px;
    width: auto;
    position: relative;
    top: -2px;
    margin-right: 2px;
    margin-left: 1px;
  }
  .col-lg-8.header-sep {
    @include media-breakpoint-up(lg) {
      width: calc(66.66667% + 11px);
      border-right: 1px solid lighten($darkBlue, 76%);
    }
  }
  .col-lg-4.header-sep {
    @include media-breakpoint-up(lg) {
      width: calc(33.33333% - 11px);
      border-left: 1px solid lighten($darkBlue, 76%);
      margin-left: -1px;
    }
  }
}

.ultimate-source-relationships, .source-relationships, .relationship-details {
  .entity-title {
    padding-bottom: 7px;
    font-size: 0.9375rem;
    text-transform: uppercase;
    a {
      display: inline-block;
      width: 100%;
      background: calc(100% + 4px) calc(0% - 3px) no-repeat;
      text-transform: uppercase;
      letter-spacing: .035em;
      &:hover {
        color: $electricBlue;
        background-image: asset-url("ic_chevron_right_blue_24px.svg");
      }
    }
  }
  .unknown {
    font-style: italic;
  }
}

.meta {
  font-size: 0.8125rem;
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    margin-bottom: 0;
  }
  ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .meta-secondary {
    color: #AEAEAE;
    font-style: italic;
  }
}

.oo-link {
  display: block;
  width: 100%;
  border-top: 1px solid lighten($darkBlue, 76%);
  padding: 18px 20px 20px;
  color: #AEAEAE;
  background-image: asset-url("icon-external-lightgrey.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  transition: background .25s ease;
  span {
    display: inline-block;
    width: 110px;
    height: 16px;
    position: relative;
    top: 4px;
    background-image: asset-url("supporters/opencorporates-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
  }
  &:hover {
    background-position: right 12px center;
    background-color: lighten($darkBlue, 86.5%);
    color: #B3B3B3;
    text-decoration: none;
  }
}

.ultimate-source-relationships, .source-relationships {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $lightGrey;
  border-radius: 2px;
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 1.375rem;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 18px;
    span {
      display: block;
      font-size: .75rem;
      letter-spacing: .035em;
      margin-top: 6px;
    }
  }
  .empty-entities {
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .item, .grouping {
    padding: 17px 20px 12px 20px;
    margin-top: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .05);
    border-radius: $border-radius;
    .note {
      margin-top: 12px;
      margin-bottom: 4px;
      font-size: 12px;
      font-style: italic;
      color: #A9A9A9;
    }
  }
  .item {
    background-color: $white;
    .relationship-link {
      display: block;
      position: relative;
      padding: 7px 10px;
      font-size: 0.75rem;
      line-height: 1.75em;
      background-color: #F4F6F8;
      color: #666666;
      border-radius: 1px;
      transition: all .25s ease;
      &:hover {
        background-color: darken( #f4f6f8, 2% );
        .details {
          color: $electricBlue;
        }
      }
      .via {
        display: inline-block;
        max-width: calc( 100% - 60px );
      }
      .relationship-interests {
        display: inline-block;
        max-width: calc( 100% - 60px );
        margin: 0;
        ul {
          margin-bottom: 0;
        }
      }
      .target {
        font-style: italic;
        // font-weight: bold;
        // color: $darkBlue;
      }
      .details {
        position: absolute;
        bottom: 7px;
        right: 10px;
        color: #999999;
        transition: color .25s ease;
      }
    }
  }
  .flag {
    height: 11px;
    width: auto;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
  .via {
    .flag {
      height: 9px;
      top: -1px;
    }
  }
}

.ultimate-source-relationships {
  .grouping {
    background-color: #F4F6F8;
  }
  .grouping-header {
    display: block;
    background: asset-url("chevron-down.svg") right calc(50% - 1px) no-repeat;
    &:hover {
      .grouping-size {
        color: $electricBlue;
      }
    }
  }
  .grouping-size {
    font-size: .75rem;
    color: #999999;
    margin-right: 20px;
    line-height: 1.75em;
    transition: color .25s ease;
  }
}
.source-relationships {
  .item {
    .relationship-interests {
      margin: 15px 0 0 0;
    }
  }
}
.relationship-details {
  padding: 20px;
  margin-bottom: 60px;
  background-color: $lightGrey;
  .item {
    a {
      text-decoration: none;
      color: inherit;
    }
    .relationship-interests {
      margin: 8px 0 12px 14px;
      font-size: 0.9375rem;
      font-weight: bold;
      border-left: 1px solid #E7E7F5;
      ul {
        margin-bottom: 0;
        padding: 28px 0 30px 36px;
        background: asset-url("circle-arrow-down.svg") left center no-repeat;
        position: relative;
        left: -13px;
      }
      li {
        font-size: .75rem;
        font-weight: normal;
        color: #666666;
      }
    }
  }
  .relationship-source {
    margin-bottom: 0;
  }
  .entity-title {
    font-size: 1.125rem;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .flag {
    height: 14px;
    width: auto;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

.entity-title {
  small {
    color: #AEAEAE;
    letter-spacing: 0;
    text-transform: none;
  }
}
