html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $sans;
  color: $darkBlue;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.search-form {
  position: relative;
}

.search-field {

}

.search-button {
  position: absolute;
  right: 15px;
  top: 29%;
  height: 24px;
  width: 24px;
  background: asset-url("ic_search_black_24px.svg") no-repeat;
  background-color: transparent;
  border: none;
  text-indent: -9999px;
  opacity: .35;
  cursor: pointer;
  transition: opacity .25s ease;
  &:hover {
    opacity: 1;
  }
}

.list-entities {
  margin-bottom: 0px;
  a {
    display: block;
    position: relative;
    padding: 20px;
    margin-bottom: 5px;
    background-color: $white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .05);
    border-radius: $border-radius;
    transition: all .25s ease;
    &:after {
      content: '';
      background: asset-url("ic_chevron_right_blue_24px.svg") bottom right no-repeat;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 12px;
      opacity: 0;
    }
    &:hover {
      text-decoration: none;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, .2);
      &:after {
        opacity: 1;
      }
    }
  }
  li {
    &:last-child {
      a {
        margin-bottom: 0;
      }
    }
  }
}

.pagination {
  margin: 32px auto 4px auto;
  text-align: center;
  display: block;
  .first, .prev, .page, .next, .last {
    padding: 6px 1px 6px 4px;
    margin: 0 3px;
    text-align: center;
    transition: opacity .25 ease;
  }
  .current {
    border-bottom: 2px solid $darkBlue;
    // font-weight: bold;
  }
  .first a, .last a {
    opacity: .35;
    &:hover {
      opacity: 1;
    }
  }
  @include media-breakpoint-down(md) {
    .first, .prev, .page, .next, .last {
      line-height: 2.4;
    }
  }
}

.no-results {
  padding: 20px;
  background-color: $lightGrey;
  margin-bottom: $spacer;
  text-align: center;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}


/////////////////////////////////////////////
////////////////// ENTITIES /////////////////
/////////////////////////////////////////////


.entity-relationships {
  margin-bottom: 40px;
}

.sources-list, .targets-list {
  position: relative;
  border: 1px solid darken($lightGrey, 10%);
  ul {
    margin-bottom: 0;
  }
  li {
    padding: 20px 0;
    font-size: 0.9375rem;
    text-transform: uppercase;
    letter-spacing: .035em;
    a {
      color: $darkBlue;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      color: lighten( $darkBlue, 25% );
      transition: all .25s ease;
      &:hover, &:active {
        border-bottom: 1px solid $electricBlue;
        text-decoration: none;
        color: $darkBlue;
      }
    }
  }
  .relationship-header {
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 1;
    color: $white;
    text-transform: uppercase;
    background-color: $electricBlue;
    padding: 10px 12px 9px;
    border-radius: 15px;
  }
}

.sources-list {
  padding: 17px 40px 25px;
  border-bottom: none;
  li {
    padding-bottom: 18px;
  }
  .relationship-header {
    position: absolute;
    bottom: -24px;
  }
  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.targets-list {
  padding: 22px 40px 14px;
  margin-top: -1px;
  .relationship-header {
    position: absolute;
    top: -16px;
  }
  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.current-entity {
  padding: 40px 40px 38px;
  border: 1px solid darken($lightGrey, 10%);
  background-color: lighten($lightGrey, 3%);
  h1 {
    padding: 20px 0;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
