.supporters-footer {
  background-color: $lightGrey;
  margin-top: 60px;
  border-top: 1px solid lighten( $darkBlue, 75% );
  a {
    opacity: .35;
    transition: opacity .25s ease;
    &:hover {
      opacity: 1;
    }
  }
  h6 {
    font-family: $serif;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: lighten( $darkBlue, 50% );
    padding-top: 10px;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
  }
  .supporters {
    // float: left;
    @include media-breakpoint-down(md) {
      flex: 1;
    }
  }
  .supporters-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    a {
      display: block;
      padding: 10px 50px 10px 0;
      &:last-child {
        padding-right: 20px;
      }
      @include media-breakpoint-down(md) {
        padding: 0 0 30px 0;
      }
    }
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      .one-logo {
        margin: 0 20px;
      }
    }
  }
  .funders {
    margin-left: 30px;
    border-left: 1px solid lighten( $darkBlue, 75% );
    padding: 0 0 10px 60px;
    @include media-breakpoint-down(md) {
      flex: 1;
      margin: 0 20px 0 40px;
      padding-left: 30px;
    }
  }
  .funders-logos {
    padding: 10px 0 15px 0;
    a {
      img {
        @include media-breakpoint-up(md) {
          max-width: 58px;
        }
      }
    }
  }
  .one-logo {
    opacity: .25;
  }
  .b-team {
    opacity: .30;
  }
  .ocp {
    opacity: .45;
  }
  .webfoundation {
    opacity: .40
  }
}

.site-footer {
  border-top: 1px solid lighten( $darkBlue, 75% );
  font-size: 14px;
}

.site-footer-container {
  padding: 15px 0;
}
