@import "shared";

.site-header {
  background-color: $darkBlue;
}

// See also variables in variables.scss since this is a Bootstrap component
// we're tweaking
.navbar {
  border-bottom: 2px solid lighten( $darkBlue, 12% );
  font-family: $sans;
  padding: 0;
  @include media-breakpoint-up(lg) {
    padding-top: 0.5rem;
  }
  .navbar-nav {
    .nav-item {
      border-bottom: 2px solid transparent;
      .nav-link {
        font-size: 14px;
        font-weight: bold;
        padding: 14px 0;
      }
    }

    .sign-up-nav {
      @include media-breakpoint-up(lg) {
        padding-left: 1.5rem;
        border-left: 2px solid lighten( $darkBlue, 12% );
        margin-left: 1.5rem;
      }
    }

    .follow-nav {
      .nav-item {
        .nav-link {
          font-size: 18px;
          padding: 10px 0;
        }
      }
      .nav-item + .nav-item {
        float: left;
        margin-right: 1rem;

        @include media-breakpoint-up(lg) {
          margin-right: 0;
          margin-left: .75rem;
        }
      }
    }

    .follow-label {
      padding: 14px 0 0 0;
      font-family: $serif;
      font-size: 14px;
      font-style: italic;
      color: lighten($darkBlue, 45%);
      @include media-breakpoint-up(lg) {
        padding-bottom: 14px;
      }
    }

    .nav-item + .nav-item {
      @include media-breakpoint-up(lg) {
        margin-left: 1.5rem;
      }
    }

    .nav-item.active {
      @include media-breakpoint-up(lg) {
        border-bottom: 2px solid $electricBlue;
      }
    }
  }
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
  margin-left: -.75rem;
  height: 3em;
  // Chrome 72+ doesn't like data urls with an unescaped # in, no doubt this is
  // fixed in later versions of Bootstrap, but we can't upgrade just for this as
  // it's quite a big change.
  // This is identical to bootstrap's, with an escaped # in the path stroke colour
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar-toggler {
  text-indent: 30px;
  margin-left: -15px;
  overflow: visible;
  span {
    position: relative;
    // Match the menu items
    font-size: 14px;
    font-weight: bold;
  }
}

.brand-header {
  padding: 20px 0 20px;
  @include media-breakpoint-up(lg) {
    padding: 30px 0 34px;
  }
}

.logo {
  width: 220px;
  height: auto;
  @include media-breakpoint-up(lg) {
    width: 280px;
  }
}

.secondary-search {
  display: none;
  @include media-breakpoint-up(lg) {
    padding-left: 20px;
  }
  .form-group {
    margin-bottom: 0;
    background: asset-url("ic_search_19px.svg") no-repeat 0px 17px;
  }
  .search-field {
    border: none;
    background-color: transparent;
    padding: 15px 15px 15px 22px;
    font-size: 0.875rem;
    color: lighten($darkBlue, 75%);
    &::placeholder {
      color: lighten($darkBlue, 30%);
    }
    &:focus {
      box-shadow: none;
    }
  }
  input:-webkit-autofill, input:-webkit-autofill:hover,  input:-webkit-autofill:focus input:-webkit-autofill,  textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: $white;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    background: asset-url("ic_search_19px.svg") no-repeat 0px 17px;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.site-header-small {
  .secondary-search {
    display: block;
  }
  .brand-header {
    padding: 20px 0 5px;
  }
  @include media-breakpoint-up(lg) {
    .brand-header {
      padding: 21px 20px 19px 0;
      border-right: 2px solid lighten( $darkBlue, 12% );
      float: left;
    }
    .logo {
      width: 187px;
    }
    .navbar {
      float: right;
      width: calc( 100% - 209px );
      padding-left: 20px;
      padding-top: 4px;
    }
    .secondary-search {
      float: right;
      width: calc( 100% - 209px );
    }
  }
}
