@mixin neaten-snippet {
  span {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    display: block;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin panel-item {
  display: block;
  position: relative;
  border-radius: $border-radius;
  padding: 15px;
  background-color: $white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  color: $darkBlue;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    display: block;
  }
}

@mixin panel-item-link {
  transition: box-shadow 0.1s linear;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 36px;
    opacity: 0;
    transition: opacity 0.1s linear;
  }

  &:hover {
    color: $darkBlue;
    text-decoration: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  }

  &:hover:after {
    opacity: 1;
  }
}

.draft-submission,
.submitted-submission,
.submission-search-result {
  @include reset-button;
  @include panel-item;
  @include panel-item-link;

  margin-top: 10px;
  width: 100%;

  img {
    top: 0;
    height: 12px;
    width: auto;
  }

  small {
    color: #999;
  }

  .type-icon {
    top: 15px;
    right: 15px;
  }
}

.submission-content {
  padding: 30px 0 30px 0;
}

.submission-instructions {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #dfe4e9;
  padding: 18px 20px 2px 20px;
  background: white;

  h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  ol p {
    margin-top: 0.5em;
    font-weight: normal;
    font-size: 12px;
    color: #666;
  }
}

.submission-instructions__header {
  margin: -18px -20px;
  margin-bottom: 20px;
  padding: 18px 20px;
  border-bottom: 1px solid #dfe4e9;

  h2 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  .long-snippet {
    display: block;
    font-weight: bold;
  }

  .type-icon {
    display: none;
  }
}

.submission-frame {
  padding: 20px;
  background: #ebeef2;

  h2 {
    font-size: 1rem;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }
}

.centered {
  text-align: center;
}

.submission-steps .active {
  font-weight: bold;
}

.submission-entity-link {
  display: block;
  color: $darkBlue;

  &:hover {
    text-decoration: none;
    color: $darkBlue;
  }

  img {
    display: block;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  small {
    color: #999;
  }
}

.form-title {
  font-size: 1rem;
  font-weight: bold;
}

.submission-errors {
  color: red;
}

.field_with_errors {
  color: red;
}

.submission-search-field {
  position: relative;

  .btn {
    position: absolute;
    top: 9px;
    right: 9px;
  }
}

.submission-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
}

.submission-overlay__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.submission-checkbox-field {
  margin-bottom: 0;

  input {
    margin-right: 0.5em;
  }
}

.tooltip--signpost {
  .tooltip-inner {
    background: #cc0000;
    font-size: 12px;
    padding: 0 5px;
  }

  &.bs-tether-element-attached-top .tooltip-inner:before {
    border-bottom-color: #cc0000;
  }

  &.bs-tether-element-attached-right .tooltip-inner:before {
    border-left-color: #cc0000;
  }

  &.bs-tether-element-attached-bottom .tooltip-inner:before {
    border-top-color: #cc0000;
  }

  &.bs-tether-element-attached-left .tooltip-inner:before {
    border-right-color: #cc0000;
  }
}

.submission-form-errors {
  color: red;
}
