$darkBlue: #191D23;
$electricBlue: #3C31D4;
$greyBlue: #363F4D;
$lightGrey: #EBEEF2;
$white: #FFFFFF;

$red: red;
$green: #31A95B;

$headline: 'Publico Headline', 'Times New Roman', Times, Georgia, serif;
$serif: 'Publico Text', 'Times New Roman', Times, Georgia, serif;
$sans: 'Atlas Grotesk', 'Helvetica', sans-serif;

$on-mobile: 768px;


/////////////////////////////////////
//////// Bootstrap Overrides ////////
/////////////////////////////////////


$alert-border-width: 0;
$brand-primary: $electricBlue;
$border-radius: 0.0625rem;
$border-radius-lg: 0.125rem;
$border-radius-sm: 0.0625rem;
$grid-gutter-width-base: 20px;
$input-border-color: #D3D7DF;
$input-border-focus: #CCCCCC;
$input-padding-x-lg: 1rem;
$input-line-height: 1.5;
$navbar-padding-x: 0;
$navbar-dark-color: #7E94B4;
$navbar-dark-hover-color: lighten($darkBlue, 70%);
$navbar-dark-active-color: lighten($darkBlue, 70%);
$navbar-dark-disabled-color: lighten($darkBlue, 20%);
$state-danger-bg: rgba(254, 229, 230, .9);
$state-danger-text: $red;
$state-info-bg: rgba(224, 222, 247, .9);
$state-info-text: $electricBlue;
