.submission-instructions__header
  %h2
    - if @submission.started?
      = t('.started_title_html', entity: render('submissions/entities/long_snippet', entity: @submission.entity))
    - else
      = t('.unstarted_title')
  - if @submission.started? && @submission.draft? && !current_page?(edit_submission_path(@submission))
    %small= link_to t('.back'), edit_submission_path(@submission)
