.tree-wrapper
  .tree-window{ data: { tree: @submission.entity.id, grouped_tooltip: t('.grouped') } }
    .tree-canvas.tree-canvas--edit-submission
      .tree-group
        = render 'tree_node', node: @node

  .tree-instructions
    .submission-instructions
      = render 'submissions/submissions/instructions_header'
      = render 'submissions/submissions/instructions_steps'

  .tree-controls
    %span.fa.fa-search-minus
    %input.tree-zoom{ type: "range", data: { 'tippy-content' => t('tree.zoom'), 'tippy-placement' => 'bottom' } }
    %span.fa.fa-search-plus

  .tree-help
    .fa.fa-info-circle
    %small= t('tree.help')
