!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    :css
      body {
        color: #fefefe;
        background-color: #262D37;
        margin: 0;
      }
      .email-spacing {
        padding: 20px;
      }
      .email-spacing td {
        margin: 0;
        padding: 0;
      }
      .email-content {
        color: #fefefe;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        line-height: 1.4;
      }
      a {
        color: #3625BD;
      }
      p:last-child {
        margin-bottom: 0;
      }
      small {
        display: block;
        color: #919DB2;
      }
      .email-wrap {
        margin: 0 auto;
        padding: 30px;
        max-width: 540px;
        background-color: #181D24;
        border-radius: 2px;
        color: #fefefe;
      }
      p {
        color: #fefefe;
      }
      .email-wrap td,
      .email-wrap th {
        margin: 0;
        padding: 0;
        text-align: left;
      }
      .logo {
        margin-bottom: 24px;
      }
      .cta {
        color: #FFFFFF;
        display: inline-block;
        padding: 10px 14px 12px 14px;
        margin: 5px 0;
        background-color: #3A26D7;
        text-decoration: none;
      }
      .cta:hover {
        background-color: #3625BD;
      }

  %body
    %table.email-spacing{ align: "center" }
      %tr
        %td
          %table.email-wrap
            %tr
              %th.email-header
                = image_tag(image_url('OpenOwnership-Logo.svg'), class: 'logo', width: '178', height: '45')
            %tr
              %td.email-content
                = yield
